*{
    
}

/*-------------------------------------------HEADER--------*/
.encabezado{
    font-family: "Noto sans";
    background: #f4f4f4;
}

.list-menu{
    list-style: none;
}

.list-menu li{
    display: inline-block;
    padding: 10px;
}

.list-menu li a{
    text-decoration: none;
}
/*-------------------------------------------PORTADA-------*/
.portada{
    background: url(/img/home.jpg)no-repeat;
    background-size: 100%;
    width: 100%;
    height: 490px;
}
/*-------------------------------------------DOCUMENTAL----*/
.documental{
    padding: 30px;
}
.documental h3{
    text-align: center;
}
/*-------------------------------------------HACKATON------*/
.hackaton{
    padding: 50px;
    background: yellow;
}
.hackaton img{
    width: 100%;
}

.hackaton h3{
    text-align: center;
}
/*-------------------------------------------CONTACTO------*/

input{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}
/*-------------------------------------------FOOTER--------*/
footer{
    background: #35adc9;
    padding: 20px;
}

span{
    color: yellow;
}