/*------------------------------------------HEADER----------*/
header{
    background: rgb(248,248,248);
}
header .navbar{
    margin: 0;!important
}

header .menu  ul {
    float: right;
}

.menu ul li:hover{
    background: rgb(220,223,226);
}
/*------------------------------------------PORTADA----------*/
.portada h1{
    color: white;
}
.portada{
    background: url(../img/home.jpg);
    background-size:cover;
}

.box{
    text-align: center;
    margin: 18% 0;
}
/*---------------------------------------DOCUMENTAL---------*/
.documental{
    margin: 50px 0;
}
.documental h2,h3{
    text-align: center;
}

h2{
    margin: 40px 0;
}

.girl{
    margin: 40px 0;
}
/*----------------------------------------HACKATON--------*/

.hackaton{
    background:rgb(255,255,0);
    padding: 40px;
    margin: 50px 0;
}

hackaton1{
    margin: 50px 0;
}
.hackaton1 h3{
    text-align: center;
}



/*----------------------------------------CONTACT--------*/
.contact{
    margin: 50px 0;
}
.contact h3{
    text-align: left
}
/*----------------------------------------FOOTER--------*/
footer{
    background: rgb(68,151,163);
    padding: 40px 0;
}
small{
    color: white;
}
span{
    color: yellow;
}

/*------------------------------------------MEDIA--------*/
@media screen and (min-width:450px) and (max-width:999px) {
    .portada h1{
        font-size: 20px;
    }
    
    .documental h2, h3{
        font-size: 20px;
    }
} 
